<!-- Footer section -->
<div class="footer-padding"></div>
<div class="footer">
  <!-- Footer text with bold font style -->
  <p style="font-weight: bold;">"Designed and developed by Sourabh Kumar"</p>
</div>
</div>

</body>
</html>