<%- include("partials/header"); -%>

<!-- Contact Me header section with padding -->
<header class="contact" style="padding-top: 20px; padding-left: 20px;">
    <!-- Heading for the Contact Me section -->
    <h1 style="font-size: 32px; font-weight: bold; color: #e33813;">Contact Me</h1>
    <!-- Introduction paragraph with bold font style and black color -->
    <p style="list-style-type: none; padding: 0; font-weight: bold; color: black;">
        <!-- Contact Me introduction content -->
        Thank you for visiting my website! If you have any questions, suggestions, or just want to say hello, feel free to reach out to me. I'd love to hear from you and connect!
    </p>
    <!-- Unordered list for contact information with bold font style and black color -->
    <ul style="list-style-type: none; padding: 0; font-weight: bold; color: black;">
        <!-- List item for email -->
        <li>Email: sk25002kumar@gmail.com</li>
        <!-- List item for phone number -->
        <li>Phone: +91 8840331207</li>
        <!-- List item for LinkedIn profile with hyperlink -->
        <li>LinkedIn: <a href="https://www.linkedin.com/in/sourabh-kumar-1a41ab205/" target="_blank">www.linkedin.com/in/yourname</a></li>
        <!-- List item for Twitter profile with hyperlink -->
    </ul>
</header>

<!-- Include the footer using a partial -->
<%- include("partials/footer"); -%>
