<%- include("partials/header"); -%>

<div>
    <!-- Header section -->
    <header class="header">
        <div class="content">
            <!-- Main heading -->
            <h1 class="heading">
                <span class="small">Welcome in the world of</span>
                blog
                <span class="no-fill">writing</span>
            </h1>
            <!-- Button to compose a new blog -->
            <a href="/compose" class="btn" style="font-weight: bold;">write a blog</a>
        </div>
    </header>

<!-- Include footer using partials -->
<%- include("partials/footer"); -%>
